<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Refresh</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css" >
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma-steps@2.2.1/dist/css/bulma-steps.min.css">
    <link href="https://fonts.googleapis.com/css?family=Work+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    
<body>
    <div class="hero-image">
        
    </div>    
        <header>
            <nav class="navbar" role="navigation" aria-label="main navigation">
                <div class="navbar-brand">
                    <a role="button" class="navbar-burger" data-target="navMenu" aria-label="menu" aria-expanded="false"
                        id="nav-bar">
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                    </a>
                </div>

                <div class="navbar-menu" id="navMenu">
                    <!-- navbar-start, navbar-end... -->
                    <div class="navbar-start">
                        <a class="navbar-item" href="/">Home</a>
                        <a class="navbar-item" href="">About us</a>
                        {{#unless logged_in}}
                        <a class="navbar-item" href="/login">Login</a>
                        {{/unless}}
                        {{#if logged_in}}
                        <a class="navbar-item" id="logout" href="#">Logout</a>
                        {{/if}}
                        {{#unless logged_in}}
                        <a class="navbar-item" href="/signup">Sign up</a>
                        {{/unless}}
                        {{#if logged_in}}
                        <a class="navbar-item" href="/profile">Goals</a>
                        {{/if}}
                    </div>
                </div>
                <!-- navbar items, navbar burger... -->
            </nav>
        </header>
        <main class="container container-fluid mt-5">

            <!-- Render the sub layout -->
            {{{ body }}}
        </main>

</body>
<script src="https://cdn.jsdelivr.net/npm/bulma-steps@2.2.1/dist/js/bulma-steps.js"></script>
<script src="/js/logout.js"></script>

</html>