<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Crafty+Girls&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Kranky&display=swap" rel="stylesheet">
<div class= "about-area">
    <div class="addAbout">
    {{!-- <h2 class="aboutSec">Welcome to reFresh!</h2> --}}
    <div id="aboutLogoBG">
       <img id="aboutLogo"src="/assets/logo/reFresh-logos_transparent.png" alt="logo"> 
    </div>
    <p class="aboutSec"> There are so many apps out there that focus on just fitness or just the mind. We created this app because we care about you as a whole, your spirit, mind, and body. With this app, we are hoping you will be able to establish healthier habits and prioritize your well-being by
        setting wellness goals to effectively monitor and maintain your journey towards a refreshed and revitalized
        state of health.
        <br>
        <br>
        <em>- Ryan, Saf, Lily</em>  😀 
    </p>
    </div>
</div>