<div class="centered-container">
  <div class="card transparent-card">
    <div class="card-body">
      <h2 class="card-title">Login</h2>

      <form class="form login-form">
        <div class="form-group">
          <label class ="login" for="email-login">Email:</label>
          <input class="form-input" type="text" id="email-login" />
        </div>
        <div class="form-group">
          <label class ="login" for="password-login">Password:</label>
          <input class="form-input" type="password" id="password-login" />
        </div>
        <div class="form-group">
          <button class="btn btn-primary" type="submit">Login</button>
        </div>
      </form>
    </div>
  </div>
</div>

  <script src="./js/login.js"></script>