<div class="centered-container">
  <div class="card transparent-card">
    <div class="card-body">
      <h2 class="card-title">Add your goal!</h2>
      {{userTDEE}}
        
<select class="dropdown" id="category-name">
    <option value="mind">Mind</option>
    <option value="body">Body</option>
    <option value="spirit">Spirit</option>
</select>

        <div class="control">
            <input id="goal-name" class="input is-focused" type="text" placeholder="Enter your goal">
        </div>
        <div class="control">
            <input id="description" class="input is-focused" type="text" placeholder="Enter your goal description">
        </div>

        <div class="form-group">
          <button id="goalSubmit" class="btn btn-primary" type="submit">Submit</button>
        </div>
      
    </div>
  </div>
</div>

<script src="/js/profile.js"></script>