<div class="steps" id="stepsDemo">
  <div class="step-item" id="step-2">
    <div class="step-marker">1</div>
    <div class="step-details">
      <p class="step-title">Account</p>
    </div>
  </div>
  <div class="step-item" id="step-2">
    <div class="step-marker">2</div>
    <div class="step-details">
      <p class="step-title">Profile</p>
    </div>
  </div>
  <div class="step-item" id="step-3">
    <div class="step-marker">3</div>
    <div class="step-details">
      <p class="step-title">Info</p>
    </div>
  </div>
  <div class="step-item" id="step-4">
    <div class="step-marker">4</div>
    <div class="step-details">
      <p class="step-title">Finish</p>
    </div>
  </div>
  <div class="steps-content">{{!beginning of steps content this is the wrapper for all of the steps}}
    <div class="step-content has-text-centered">
      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label">First name</label>
        </div>
        <div class="field-body">
          <div class="field">
            <div class="control">
              <input
                class="input"
                name="firstname"
                id="firstname"
                type="text"
                placeholder="First Name"
                autofocus
                data-validate="require"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label">Last name</label>
        </div>
        <div class="field-body">
          <div class="field">
            <div class="control has-icon has-icon-right">
              <input
                class="input"
                type="text"
                name="lastname"
                id="lastname"
                placeholder="Last Name"
                data-validate="require"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
    {{!--ending of step content 1--}}
    <div class="step-content has-text-centered is-active">
      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label">Email</label>
        </div>
        <div class="field-body">
          <div class="field">
            <div class="control">
              <input
                class="input"
                name="email"
                id="email"
                type="email"
                placeholder="Email"
                autofocus
                data-validate="require"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label">Password</label>
        </div>
        <div class="field-body">
          <div class="field">
            <div class="control has-icon has-icon-right">
              <input
                class="input"
                type="password"
                name="password"
                id="password"
                placeholder="Password"
                data-validate="require"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
    {{!ending of step content 2}}
    <div class="step-content has-text-centered is-active">
      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label">Height</label>
        </div>
        <div class="field-body">
          <div class="field">
            <div class="control">
              <input
                class="input"
                name="height"
                id="height"
                type="text"
                placeholder="Enter as a decimal value"
                autofocus
                data-validate="require"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label">Weight</label>
        </div>
        <div class="field-body">
          <div class="field">
            <div class="control">
              <input
                class="input"
                name="weight"
                id="weight"
                type="text"
                placeholder="Enter in pounds"
                data-validate="require"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label">age</label>
        </div>
        <div class="field-body">
          <div class="field">
            <div class="control">
              <input
                class="input"
                name="age"
                id="age"
                type="age"
                placeholder="age"
                data-validate="require"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="field is-horizontal">
    <div class="field-label is-normal">
      <label class="label">Gender</label>
    </div>
        <div class="field-body">
            <div class="field">
                <div class="control">
                    <select
                        class="check"
                        name="gender"
                        id="gender"
                        data-validate="require"
                    >
                        <option value="">--Please choose an option--</option>
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="field is-horizontal">
      <div class="field-label is-normal">
        <label class="label">Activity Level</label>
      </div>
      <div class="field-body">
        <div class="field">
          <div class="control">
            <select
              class="check"
              name="activity"
              id="activity"
              data-validate="require"
            >
              <option value="">--Please choose an option--</option>
              <option value="sedentary">sedentary - little to no exercise + work
                a desk job</option>
              <option value="light">light exercise 1-3 days/week</option>
              <option value="moderate">moderate exercise 3-5 days/week</option>
              <option value="high">heavy exercise 6-7 days/week</option>
              <option value="extreme">very heavy exercise, hard labor job,
                training 2x/day</option>
            </select>
          </div>
        </div>
      </div>
    </div>
    </div>
    <div class="step-content">
      <button id="submit-button" class="button is-light">Submit</button>
    </div>
  </div>
  <div class="steps-actions">
    <div class="steps-action">
      <a href="#" data-nav="previous" class="button is-light previous">Previous</a>
    </div>
    <div class="steps-action">
      <a href="#" data-nav="next" class="button is-light next" data-submit="submit" >Next</a>
      
    </div>
  </div>
</div>
</div>
  
<script src="https://cdn.jsdelivr.net/npm/bulma-steps@2.2.1/dist/js/bulma-steps.js"></script>
{{!-- <script src="../public/js/signup.js"></script> --}}
{{!-- <script src="/js/bulma.js"></script> --}}
<script src="/js/signup.js"></script>
