.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)),
        url('../assets/heroIMG2.jpg');

    height: 925px;
    width: 100%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hero-image>h1 {
    color: red;
    font-size: 30px;
}

.card {
    box-sizing: content-box;
    background-color: rgba(255, 255, 255, 0.25);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 15px 10px 10px 0px rgba(10, 10, 10, 10);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 200vh;
}

/* targeting "Login" text at top of card */
.card-title {
    color: aqua;
    font-size: 20px;
    margin-bottom: 20px;
}

.btn-primary {
    background-color: #007bff;
    /* Primary color */
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-primary:hover {
    background-color: #0056b3;
    /* Darker shade on hover */
}

.form-group>label {
    color: aqua;
}

@media screen and (max-width: 1023px) {
    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    .navbar-burger {
        background-color: hsla(240, 100%, 86%, .5) !important;
        color: white !important;
        border-radius: 50% !important;
    }

    .is-active {
        background: none !important;
        font-size: 150%;
    }

    .navbar-item {
        color: white !important;
        display: flex;
        justify-content: left !important;
        padding-top: 25% !important;
        padding-bottom: 25% !important;
        margin-top: 10%;
        font-size: 150%;
        text-shadow: 1%;
    }

    .navbar-item:hover {
        color: black !important;
        background-color: hsla(240, 100%, 86%, .5);

    }

    .navbar-menu .is-active {
        display: flex !important;
        flex-direction: column !important;
        justify-content: center !important;
        background-color: hsla(240, 100%, 86%, .5) !important;
        /* align-items: ; */
    }

    .navbar-menu.is-active {
        display: flex !important;
        background-color: hsla(240, 100%, 86%, .5) !important;
        position: absolute !important;
        width: 100vw;
        height: 100vh;
        top: 0px;
        right: 0px;
        z-index: -1;
        color: white;
        justify-content: center;
    }

    .navbar-start {
        display: flex !important;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.navbar {
    background: none;

}

.navbar-item {
    padding: 5% 50% 0% 20% !important;
    color: hsla(240, 100%, 86%, 1);
}

a.navbar-item:hover {
    background: none !important;
    color: blueviolet !important;
}

.titleHomepage {
    display: flex;
    flex-direction: column;
    font-size: 44px;
    color: white;
    justify-content: right;
    align-items: center;
    padding-left: 55%;
    padding-top: 20%;
}

.login {
    width: 75px;
}

p {
    color: hsla(240, 100%, 86%, 1);
}

.titleProfile{
    font-size: 45px !important;
    text-align: left;
    padding-bottom: 10px;
    margin-top:-20%;
}
/* .activeGoals{
    
} */

.profileWrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}


.steps {
    display: flex !important;
    width: 1000px;
    justify-content: center;
    align-items: flex-end;
    margin: 0 auto !important;
}

/* .steps-actions{
    flex-wrap: nowrap;
} */
.control>input {
    width: 15vw;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 1%;
    background-color: hsla(240, 21%, 86%, .5);
    border: none;
}

.field-label {
    width: 50vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.label {
    color: hsla(240, 100%, 86%, .5);
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    width: 100px;
}

.field {
    width: 600px;
    white-space: nowrap;
}

.steps .steps-content .step-content.is-active {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 15%;
}

.control>select {
    width: 15vw;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 1%;
}

.title {
    color: hsla(240, 100%, 86%, .5);
    display: flex !important;
    justify-content: center !important;
    align-items: flex-start !important;
    position: absolute;
    left: 530px;
}

#submit-button {
    position: absolute;
    top: 135px;
    left: 800px;
}

#activity {
    background-color: hsla(240, 21%, 86%, .5);
}

#gender {
    background-color: hsla(240, 21%, 86%, .5);
}